
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 139, 139)!important;
    
}
a  {
    text-decoration: none !important;
    
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.pomofocus{
    margin-right: 120px;
}
.color{
    color: rgb(202, 193, 193); 
}
.margin{
    margin-left: 244px;
}

    