*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS",helvetica, sans-serif;
    background-color: #e6e6e6;
}
.branco{
    color: white;
}
.logo{
    margin-bottom: 30px;
}
.logolink{
    text-align: center;
    background-color: #f7b600;
    padding: 15px;
}
.link a{
    text-decoration: none;
    padding: 8px 12px;
    color: white;
}
.link a:hover{
    background-color: #FFF;
    text-decoration: none;
    color:  #f7b600;
}
.tudo{
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.tudo a:hover{
    text-decoration: underline;
}
.complemento{
    float: right;
    background-color: aliceblue;
    width: 250px;

}
.noticias{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.noticia{
    background-color: aliceblue;
    width: 600px;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.noticia a, .noticia h1{
    color: #f7b600;
}
.footer{
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}
.complemento a{
    color: #f7b600;
}
.complemento h3{
    background-color: #ccc;
}
.noticia2{
    background-color: aliceblue;
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.conteudo{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;

}
.conteudo a{
    font-size: 0.6;
    display: block;
    background-color:  #f7b600;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15px;
}

.imagemborda{
        border-radius: 10px;
        display: block;
        margin: 0 auto;
}
.noticia2 h1{
    color: #f7b600;
}
.noticia2 a{
    text-decoration: none;
    color: #f7b600;
}
.lateral{
    margin-top: 25px;
}
